$ns: "fy-notfound";


.#{$ns}-container {
    width: calc(100% - 73px);

    .#{$ns}__section {
        padding: 3.5rem 0;
        max-width: 1128px;
        margin: auto;
        min-height: calc(100vh - 56px);
        width: 80%;
        height: 100%;

        ##{$ns}-page {
            text-align: center;
            height: 100%;
            white-space: nowrap;
            word-break: normal;
            // display: flex;
            // flex-flow: column nowrap;
            // justify-content: center;

            #fy-notfound-page-content {
                vertical-align: middle;
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                padding: 6rem 2rem;
                // height: 100%;


                background: rgba( 255, 255, 255, 0.05 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 2px );
                -webkit-backdrop-filter: blur( 2px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                img {
                    max-height: 200px;
                    width: auto;
                    margin-bottom: 2rem;
                }

                h1 {
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin: 1rem 0;
                }

                span {
                    font-size: 1rem;
                    font-weight: 400;
                }

                a {
                    text-decoration: none;
                    display: flex;
                    flex-flow: row nowrap;
                    background-color: red;
                    outline: none;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    margin: 1rem 0;
                    width: 100%;
                    max-width: 120px;

                    svg {
                        path {
                            fill: #df1f1f;
                            stroke: white;
                        }

                        circle {
                            stroke: white;
                        }

                    }

                    span {
                        color: white;
                        font-weight: 600;
                    }
                }
            }

        }
    }
}